{% extends 'layout.html' %}
{% block content %}

<div class="home">

<h1>{{ y['titulo'] | safe }}</h1>


{% if y['imagen-arriba'] %}
    <div class="pure-g">
        <div class="pure-u-1 pure-u-md-1-4 pure-lg-1-3"></div>
            <div class="pure-u-1 pure-u-md-1-2 pure-lg-1-3">
                <img src="{{ url_for('static', filename=y['imagen-arriba'] )}}">
            </div>
        <div class="pure-u-1 pure-u-md-1-4 pure-lg-1-3"></div>
    </div>
{% endif %}

{{ y['texto']|safe }}

{% if y['opciones'] %}

    <form class="pure-form-aligned pure-form" action="{{ url_for('section') }}" method="POST">
        <fieldset>
            <legend>Tus Opciones</legend>


            {% for opcion in y['opciones'] %}
            <label for="o1" class="pure-radio">
            <input id="o1" type="radio" name="opciones" value="{{ y['opciones'][opcion] | safe }}"
            {% if loop.first %}checked{% endif %}>
            {{ opcion }}
            </label>
            {% endfor %}



                    <div class="pure-g">
                <div class="pure-u-1 pure-u-lg-1-3"></div>
                <div class="pure-control-group pure-u-1 pure-u-lg-1-3">
                    <button type="submit" class="button-xlarge pure-button pure-button-primary" value="Submit">¡Adelante!</button>
                </div>
                <div class="pure-u-1 pure-u-lg-1-3"></div>
            </div>
        </fieldset>
    </form>

{% else %}

    <h3>Fin</h3>

{% endif %}


{% if y['imagen-abajo'] %}
<div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-4 pure-lg-1-3"></div>
        <div class="pure-u-1 pure-u-md-1-2 pure-lg-1-3">
            <img src="{{ url_for('static', filename=y['imagen-abajo'] )}}">
        </div>
    </div>
</div>
{% endif %}

{% if y['KeyError'] %}
<div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-4 pure-lg-1-3"></div>
        <div class="pure-u-1 pure-u-md-1-2 pure-lg-1-3">
            <p>El código del <em>error</em> es {{ y['KeyError'] }}. Si me avisas a miguel
            @ sabiavida.com lo corrijo lo antes que pueda.</p>
        </div>
    </div>
</div>
{% endif %}


<p><small>
El Primer Rey de Angsax, es de Miguel de Luis Espinosa con
ilustraciones de <a href="https://es.fiverr.com/lixandra">Lixandra</a>, excepto
el broche vikingo que es de
<a href="http://www.deviantart.com/art/Viking-Shield-Style-Brooch-195921730">
    EveyD</a> y el broche de bestias que es de
    <a href="http://lilipilyspirit.deviantart.com">LiliPilySpirity</a>
</small></p>

{% endblock %}